@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

.telegram{
	font-variant: all-small-caps;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* Verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* Custom display for a letter with interspersed dialogue */
#chapter-4-13 > blockquote > p:first-child + p{
	text-indent: 0;
}
